body{
    background-color: beige;
     
}

.tab{
    font-size: large;
}
.basic{
    font-size: large;
}
.v1{
    font-size: xx-large;
}

.vao{
    background-color: beige;
}
.head{
    font-size: xx-large;
}
.butt{
    background-color: burlywood;
    height: 69px;   
    border-radius: 8px;
}
