<!DOCTYPE html>
<html>
<head>
    <Title>Drug Usage</Title>
    <link rel="stylesheet" href="../static/report.css"> 
</head>
<body>
        <center><h1><b>DRUG USAGE</b></h1></center>
        <center><a href="../static/images/drrusage.jpg" target="_blank"><button class="butt">Current Ongoing Medication(10 Nov 2022)</button></a>
        <br>
        <a href="../static/images/OIP.jpeg" target="_blank"><button class="butt">Previous Medications(1 Mar 2022)</button></a>
        <br>
        <a href="../static/images/OIP.jpeg" target="_blank"><button class="butt">Previous Medications(20 Dec 2022)</button></a></center>
        <br><br>
        <table class="a" bgcolor="black">

            <tr class="b" bgcolor="grey">
                <th>Sno</th>
                <th>Name of the medicine</th>
                <th>Timings</th>
                <th>Frequency of the medicine</th>
            </tr>
            <tr bgcolor="lightgrey">
                <th>1</th>
                <th>Dolo 650</th>
                <th>Morning-Night</th>
                <th>Twice a day</th>
            </tr>
            <tr bgcolor="lightgrey">
                <th>2</th>
                <th>Azithromycin</th>
                <th>Morning</th>
                <th>once a week</th>
            </tr></center>
        <br>
</body>
</html>