<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/family.css">
        <title> MEDICAL HISTORY</title>

    </head>
<body>
     <center><h1><b>MEDICAL HISTORY</b></h1></center>
        <h3>Patient personal history</h3>
        <p>
            The patient is 69 year old gentleman presented through emergency room 
            on 02/12/2003 with the symptoms of shortness of breath,easy fatiguabilty,
            dizziness. main complaint was chest pain. Initial blood test in the emergency 
            room.
        </p>
        <h3>
            Coronary risk factors
        </h3>
        <p>
            History of hypertention
            <br>
            No history of diabetes Mellitus
            <br>

        </p>
        <h3>
            Past Surgical History
        </h3>
        <p>
            The patient denies major surgeries
        </p>
        <h3>
            Family History 
        </h3>
        <p>
                Postive for coronary arteries
                <br>
                No family history of diabetes mellitus
        </p>

        
        
</body>
</html>