<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>Reports</title>
    </head>
    <body class="report">
        <center><h1>Medical Reports</h1></center>
        <br>

        <a href="../static/images/report1.png" target="_blank"><button class="butt_re">Report 1(10 Nov 2022)</button></a>
        <a href="../static/images/report2.png" target="_blank"><button class="butt_re">Report 2(1 Mar 2022)</button></a>
        <a href="../static/images/report1.png" target="_blank"><button class="butt_re">Report 3(20 Dec 2022)</button></a>
        <a href="../static/images/report1.png" target="_blank"><button class="butt_re">Report 4(14 Feb 2021)</button></a>
        <a href="../static/images/report1.png" target="_blank"><button class="butt_re">Report 5(10 Aug 2021)</button></a>
    </body>
</html>