<!DOCTYPE html>
<html>
<head>
        <Title >Previous Vaccination</Title>
        <link rel="stylesheet" href="../static/vacc.css">
</head>
<body>
        <center><h1><B>VACCINATION</B></h1></center>
        <br>
        <center><h1 class="v1">Previous Vaccination Reports</h1></center><br><br><br>
        <center><table bgcolor="black" width="1000" height="250">

            <tr bgcolor="burlywood" align="center">
                <th class="basic" width="200" height="50">Sno</th>
                <th class="basic" width="200" height="50">Name of the Vaccine</th>
                <th class="basic" width="200" height="50">Taken at age</th>
                <th class="basic" width="200" height="50">Dose</th>
                <th class="basic" width="200" height="50">Interval</th>
                
            </tr>
            <tr bgcolor="bisque" align="center">
                <td class="tab">1</td>
                <td class="tab">Polio</td>
                <td class="tab">2 years</td>
                <td class="tab">3 drops</td>
                <td class="tab">1 year</td>
            </tr>
            <tr bgcolor="bisque" align="center">
                <td class="tab">2</td>
                <td class="tab">Covaxin</td>
                <td class="tab">18 years</td>
                <td class="tab">1 shot</td>
                <td class="tab">3 months</td>
            </tr></center>
</body>
</html>