<!DOCTYPE html>
<html>
<head>
    <Title>vaccination opening</Title>
    <link rel="stylesheet" href="../static/vacc.css">
</head>
<body class="vao">
    <center><hi class="head"><b>VACCINATION</b> </hi></center>
    <br>
    <br>
    <br>
    <br>
    <center><a href="vaccp.html"><button class="butt"><b>Previous Vaccinations</b></button></a></center>
    <br>
    <br>
    <br>
    <center><a href="vaccu.html"><button class="butt"><b>Upcoming Vaccinations</b></button></a></center>
</body>
</html>